<center>
    <img src="https://gitlab.com/ibm/skills-network/courses/placeholder101/-/raw/master/labs/module%201/images/IDSNlogo.png" width="300" alt="cognitiveclass.ai logo"  />
</center>

# Peer Review Assignment - Data Engineer - Extract API Data

Estimated time needed: **20** minutes

## Objectives

In this part you will:

*   Collect exchange rate data using an API
*   Store the data as a CSV

For this lab, we are going to be using Python and several Python libraries. Some of these libraries might be installed in your lab environment or in SN Labs. Others may need to be installed by you. The cells below will install these libraries when executed.

In [1]:
#!mamba install pandas==1.3.3 -y
#!mamba install requests==2.26.0 -y

## Imports

Import any additional libraries you may need here.

In [2]:
import requests
import pandas as pd

## Extract Data Using an API

Using ExchangeRate-API we will extract currency exchange rate data. Use the below steps to get the access key and to get the data.

1.  Open the url : [https://exchangeratesapi.io/](https://exchangeratesapi.io/?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01) and create a free account.
2.  Once the account is created. You will get the Get the Free API key option on the top as shown below:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-PY0221EN-SkillsNetwork/labs/module%206/Final%20Assignment/Images/getapi.png"/>

3.  Copy the API key and use in the url in Question 1.

### Call the API

<b> Question 1</b> Using the `requests` library call the endpoint given above and save the text, remember the first few characters of the output:

In [106]:
# Write your code here
#url = "http://api.exchangeratesapi.io/v1/latest?base=EUR&access_key=eJoqtkbHlu1WNIddYHsnqxLz3iCLjpAC"  #Make sure to change ******* to your API key.
url = "https://api.apilayer.com/exchangerates_data/latest?base=EUR&apikey=eJoqtkbHlu1WNIddYHsnqxLz3iCLjpAC"
base = {"base":"EUR"}
r = requests.get(url, params=base)
r_text = r.text
currency = r.json()

### Save as DataFrame

<b> Question 2</b>  Using the data gathered turn it into a `pandas` dataframe. The dataframe should have the Currency as the index and `Rate` as their columns. Make sure to drop unnecessary columns.

In [119]:
# Turn the data into a dataframe
currency_rate = pd.DataFrame(currency)
only_rates = currency_rate[['rates']]
only_rates

           rates
AED     3.874418
AFN    91.245062
ALL   120.512186
AMD   500.380023
ANG     1.900863
..           ...
YER   263.965969
ZAR    16.927910
ZMK  9494.537361
ZMW    17.929965
ZWL   339.647595

[168 rows x 1 columns]

In [115]:
# Drop unnescessary columns
currency_rate[['success','timestamp','base','date']]

     success   timestamp base        date
AED     True  1651872663  EUR  2022-05-06
AFN     True  1651872663  EUR  2022-05-06
ALL     True  1651872663  EUR  2022-05-06
AMD     True  1651872663  EUR  2022-05-06
ANG     True  1651872663  EUR  2022-05-06
..       ...         ...  ...         ...
YER     True  1651872663  EUR  2022-05-06
ZAR     True  1651872663  EUR  2022-05-06
ZMK     True  1651872663  EUR  2022-05-06
ZMW     True  1651872663  EUR  2022-05-06
ZWL     True  1651872663  EUR  2022-05-06

[168 rows x 4 columns]

### Load the Data

Using the dataframe save it as a CSV names `exchange_rates_1.csv`.

In [120]:
# Save the Dataframe
only_rates.to_csv('exchange_rates_1.csv')

Your CSV should be in this format with more currencies

|     | Rates      |
| --- | ---------- |
| AED | 4.398618   |
| AFN | 92.917693  |
| ALL | 123.099093 |
| AMD | 621.935674 |
| ANG | 2.149648   |

## Authors

Ramesh Sannareddy, Joseph Santarcangelo and Azim Hirjani

### Other Contributors

Rav Ahuja

## Change Log

| Date (YYYY-MM-DD) | Version | Changed By        | Change Description                 |
| ----------------- | ------- | ----------------- | ---------------------------------- |
| 2021-04-15        | 0.2     | Malika            | Updated the lab from USD to EUR    |
| 2020-11-25        | 0.1     | Ramesh Sannareddy | Created initial version of the lab |

Copyright © 2020 IBM Corporation. This notebook and its source code are released under the terms of the [MIT License](https://cognitiveclass.ai/mit-license?utm_medium=Exinfluencer&utm_source=Exinfluencer&utm_content=000026UJ&utm_term=10006555&utm_id=NA-SkillsNetwork-Channel-SkillsNetworkCoursesIBMDeveloperSkillsNetworkPY0221ENSkillsNetwork23455645-2022-01-01&cm_mmc=Email_Newsletter-\_-Developer_Ed%2BTech-\_-WW_WW-\_-SkillsNetwork-Courses-IBM-DA0321EN-SkillsNetwork-21426264&cm_mmca1=000026UJ&cm_mmca2=10006555&cm_mmca3=M12345678&cvosrc=email.Newsletter.M12345678&cvo_campaign=000026UJ).